@charset "UTF-8";
/* CSS Document */

.fadein {
    opacity: 0;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

body.loaded .fadein {
    opacity: 1;
}
div{
	background: blue;
	display: block;
	margin: auto;align-content: center;
}